<body>
    <div id="menu">
        <div class="menuFoot">
        <a href="puntos"><img src="./media/img/iconosMenu/mis-puntos-red.svg" alt="points"></a>
        <a href="puntos"><p>Mis puntos</p></a>
        </div>
        <div class="menuFoot">
        <a href="ranking"><img src="./media/img/iconosMenu/mis-puntos-gray.svg" alt="ranking"></a>
        <a href="ranking"><p>Ranking</p></a>
        </div>
        <div class="menuFoot">
        <a href="miperfil"><img src="./media/img/iconosMenu/mi-perfil-gray.svg" alt="perfil"></a>
        <a href="miperfil"><p>Mi perfil</p></a>
        </div>
        <div class="menuFoot">
        <a href="index"><img src="./media/img/iconosMenu/logout-gray.svg" alt="exit"></a>
        <a href="index"><p>Salir</p></a>
        </div>
    </div>